.signupScreen {
  max-width: 300px;
  padding: 70px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.85);
}

.signupScreen > form > h1 {
  text-align: left;
  margin-bottom: 25px;
}

.signupScreen__gray {
  color: gray;
}

.signupScreen > form > h4 {
  text-align: left;
  margin-top: 30px;
}

.signupScreen > form {
  display: flex;
  flex-direction: column;
}

.signupScreen > form > input {
  outline-width: 0;
  height: 40px;
  margin-bottom: 14px;
  border-radius: 5px;
  border: none;
  padding: 5px 15px;
}

.signupScreen > form > button {
  padding: 16px 20px;
  font-size: 1rem;
  color: #fff;
  border-radius: 5px;
  background-color: #e50914;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.signupScreen__link:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 320px) {
  .signupScreen {
    width: 50%;
    padding: 50px;
  }
}
.container i {
  margin-left: -30px;
  cursor: pointer;
}
.signupscreen__password {
  padding: 10px;
  height: 40px;
  margin-bottom: 14px;
  border-radius: 5px;
  border: none;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  color: black;
}
.password {
  padding: 0;
  outline: 0;
  border: 0;
}
.signupscreen__password > button {
  color: gray;
  cursor: pointer;
  border: 0;
  outline: 0;
  background-color: transparent;
  padding: 2px;
}